{% load i18n %}
{% load tz %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>
    {% if site_name %}
      {{ site_name }}:&nbsp;
    {% endif %}
    {% block head_title %}{% endblock %}
  </title>
  {% block extra_head %}{% endblock %}
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Schedule</h1>
      {% block content %}{% endblock %}
    </div>
    <div class="row">
      {% block footer %}{% endblock %}
    </div>
  <div>
</body>
</html>
