{% extends "schedule/base.html" %}

{% block head_title %}Available Calendars{% endblock %}

{% block content %}
  <h2>Available Calendars</h2>
  <ul>
    {% for cal in object_list %}
      <li>
        <b>{{ cal }}</b>:&nbsp;
        <a href="{% url compact_calendar cal.slug %}">Small Month</a>&nbsp;--&nbsp;
        <a href="{% url month_calendar cal.slug %}">1 Month</a>&nbsp;--&nbsp;
        <a href="{% url tri_month_calendar cal.slug %}">3 Months</a>&nbsp;--&nbsp;
        <a href="{% url year_calendar cal.slug %}">This Year</a>&nbsp;--&nbsp;
        <a href="{% url week_calendar cal.slug %}">Weekly</a>&nbsp;--&nbsp;
        <a href="{% url day_calendar cal.slug %}">Daily</a>&nbsp;--&nbsp;
        <a href="/schedule/feed/calendar/upcoming/{{ cal.id }}/">Feed</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
