{% extends "schedule/base.html" %}
{% load scheduletags %}

{% block content %}
  <div class="tablewrapper">
    <div class="calendarname">
      {{ calendar.name }}
    </div>
    {% prevnext "decade_calendar" calendar.slug periods.decade "Y\s" %}
    <table align="center">
      <tr class="years-row-wide">
        {% for year in periods.decade.get_years %}
          <td valign="top">
            <a href="{% url 'year_calendar' calendar.slug %}{% querystring_for_date year.start 2 %}">
              {{ year }}
            </a>
            {% year_table calendar year %}
          </td>
          <td width="12">&nbsp;</td>
          {% ifequal forloop.counter 3  %}
            </tr>
            <tr class="years-row-thin">
          {% endifequal %}
          {% ifequal forloop.counter 5  %}
            </tr>
            <tr class="years-row-wide">
          {% endifequal %}
          {% ifequal forloop.counter  8 %}
            </tr>
            <tr class="years-row-thin">
          {% endifequal %}
        {% endfor %}
      </tr>
    </table>
  </div>

  <div class="navigation">
      <a href="{% url 'month_calendar' calendar.slug %}">
      Current Month Calendar
    </a>
    <a href="{% url 'year_calendar' calendar.slug %}">
      Current Year Calendar
    </a>
  </div>
{% endblock %}
