{% extends "schedule/base.html" %}
{% load scheduletags %}

{% block content %}
  <div class="tablewrapper">
    {% prevnext "year_calendar" calendar.slug periods.year "Y" %}
    <div class="container">
      <div class="row">
        {% for month in periods.year.get_months %}
          <div class="span-4">
            {% month_table calendar month "small" %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="navigation">
    <a href="{% url 'month_calendar' calendar.slug %}">
      Current Month Calendar
    </a>
    <a href="{% url 'year_calendar' calendar.slug %}">
      Current Year Calendar
    </a>
  </div>
{% endblock %}
